<div class="main">
  <div class="heading">
    <h1>E&ICT, AI and Computing Lab</h1>
    <div class="headingLine"></div>
  </div>
  <div class="container">
    <p>
      The AI and Computing Lab is a cutting-edge facility designed for advanced
      research and development in artificial intelligence and computing. It
      features Dell Precision 7820 tower workstations, each powered by an Intel
      Xeon Silver 4214 processor and boasting 128 GB of RAM. These workstations
      support dual-boot with Windows 10 and CentOS 7 for versatility.
    </p>
    <p>
      The lab offers robust connectivity through LAN and Wi-Fi, fostering
      efficient collaboration. Software resources include MATLAB, OpenNN,
      ClearML, Tensor Flow, PyTorch, and OpenCV for AI and machine learning
      research. Additionally, Synopsys Quantum ATK enables atomic-level
      materials and device simulation.
    </p>
    <p>
      Raspberry Pi kits are available for embedded systems and IoT projects,
      promoting hands-on learning. Workstations are equipped with 24 GB of GPU
      memory, ECC for error correction, and four display ports for multi-monitor
      setups, enhancing productivity. This lab is a comprehensive hub for AI,
      computing, materials science, and quantum mechanics research.
    </p>

    <div class="lowerContainer">
      <div class="section">
        <div class="info">
          <img src="/assets/icons/capacity.png" alt="Seats Icon" />
          <span class="text2">Capacity - 42 Seater</span>
        </div>

        <div class="info">
          <img src="/assets/icons/computerInstalled.png" alt="Computer Icon" />
          <span class="text2">Computer Installed - 42</span>
        </div>
      </div>

      <div class="section">
        <app-eict-computing-image
          [image]="'assets/images/banner-img.png'"
        ></app-eict-computing-image>
      </div>
      <div class="section">
        <div class="info">
          <img src="/assets/icons/softwareI.png" alt="Seats Icon" />
          <span class="text2"
            >Software Installed - MATLAB latest version, Synopsys Quantum ATK,
            OpenNN, PyTorch, OpenCV etc.</span
          >
        </div>

        <div class="info">
          <img src="/assets/icons/ha.png" alt="Computer Icon" />
          <span class="text2"
            >Hardware Available - Raspberry Pi Kits, 24 GB GPU memory with error
            correction code etc.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
