.top-header {
  width: 100%;
  height: 399.91473388671875px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.bckgdImg {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bckgdImg .value {
  color: #ffffff;
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  position: relative;
}

.headingLine {
  width: 130px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 10px; /* Adjust spacing */
}

/* .value {
  color: #ffffff;
  font-weight: 700;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap;
  width: 0;
  display: inline-block;
  border-right: 2px solid white; 
  animation: typing 3s steps(30, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }ng 
} */
